*{margin:0;padding:0;box-sizing: border-box;}
#components{
  margin: 100px;
  position: relative;
  display: inline-block;
  /* 过渡元素 */
  /* transition: all 1s;   */
  animation: components 800ms infinite alternate
}
#heart{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
@keyframes components {
  0%{
    transform: scale(1.0);
  }
  100%{
    transform: scale(1.2);
  }
}

#components > .bottom{
  width: 50px;
  height: 50px;
  background: red;
  transform: rotate(45deg);
}
#components > .right{
  width: 50px;
  height: 50px;
  position: absolute;
  bottom: 100%;
  left: 100%;
  transform: rotate(45deg) translateY(30px);
  border-radius: 50% 50% 0% 0%;
  background: red;
}
#components > .left{
  width: 50px;
  height: 50px;
  background: red;
  position: absolute;
  bottom: 100%;
  right: 100%;
  transform: rotate(45deg) translateX(30px);
  border-radius: 50% 0 0 50%;
}